In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dt = pd.read_csv("athlete_events.csv")

In [3]:
dt.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Number of unique participants at the 2012 London Olympics

In [4]:
l12 = dt[dt['Year']==2012]
unique_participants = l12['ID'].unique()
print("Number of unique participants at the 2012 London Olympics = ",unique_participants.size)

Number of unique participants at the 2012 London Olympics =  10517

# Number of unique male and female participants at the 2008 Beijing Olympics

In [5]:
b08 = dt[dt['City']=="Beijing"]
b08f = b08[b08['Sex']=="F"]
b08m = b08[b08['Sex']=="M"]
print("Number of unique male participants = ",b08m["ID"].nunique())
print("Number of unique female participants = ",b08f["ID"].nunique())

Number of unique male participants =  6290
Number of unique female participants =  4609

# Top 10 Athletes with most medals

In [6]:
dt1 = dt.dropna()
print(dt1.Name.value_counts().head(n=10))

Michael Fred Phelps, II                            28
Larysa Semenivna Latynina (Diriy-)                 18
Nikolay Yefimovich Andrianov                       15
Borys Anfiyanovych Shakhlin                        13
Ole Einar Bjrndalen                                13
Takashi Ono                                        13
Dara Grace Torres (-Hoffman, -Minas)               12
Aleksey Yuryevich Nemov                            12
Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)    12
Paavo Johannes Nurmi                               12
Name: Name, dtype: int64

# No of Participating countries year-wise

In [8]:
dt.groupby(["Year"])["Team"].nunique()

Year
1896     18
1900    190
1904     79
1906     52
1908     73
1912    102
1920     72
1924     93
1928     85
1932     72
1936    132
1948    131
1952    155
1956    149
1960    196
1964    199
1968    145
1972    157
1976    126
1980    111
1984    179
1988    211
1992    239
1994    101
1996    246
1998    106
2000    243
2002    114
2004    260
2006    113
2008    292
2010    116
2012    245
2014    119
2016    249
Name: Team, dtype: int64